@page
@model PrivacyModel
@{
    ViewData["Title"] = "Page 2";
}

<p>Enter first number: <input data-bind="value: a" /></p>
<p>Enter second number: <input data-bind="value: b" /></p>
<p>Average := <span data-bind="text: totalAvg"></span></p>

@section scripts {
    <script>
        //function MyViewModel() {
        //    this.a = ko.observable(10);
        //    this.b = ko.observable(40);

        //    this.totalAvg = ko.computed(function () {

        //        if (typeof (this.a()) !== "number" || typeof (this.b()) !== "number") {
        //            this.a(Number(this.a()));   //convert string to Number
        //            this.b(Number(this.b()));   //convert string to Number
        //        }

        //        total = (this.a() + this.b()) / 2;
        //        return total;
        //    }, this);
        //}

        function MyViewModel() {
            self = this;
            self.a = ko.observable(10);
            self.b = ko.observable(40);

            this.totalAvg = ko.computed(function () {

                if (typeof (self.a()) !== "number" || typeof (self.b()) !== "number") {
                    self.a(Number(self.a()));   //convert string to Number
                    self.b(Number(self.b()));   //convert string to Number
                }

                total = (self.a() + self.b()) / 2;
                return total;
            });
        }

        ko.applyBindings(new MyViewModel());

    </script>
}